/* CSS declarations go here */

h1 {
    font: 70px/68px 'Playfair Display', Georgia, serif;
    color: black;
    text-transform: uppercase;
    margin: 0 0 60px 20px;
    text-shadow:
        1px 1px 0px rgb(255, 255, 255),
        1px -1px 0px rgb(255, 255, 255),
        -1px -1px 0px rgb(255, 255, 255),
        -1px 1px 0px rgb(255, 255, 255);
}

button {
    font: 16px/30px 'Fauna One', Georgia, serif;
    max-width: 540px;
    color: #33c;
    margin: 0 0 12px 20px;
}
